In [18]:
!pip install -U pymongo

Requirement already satisfied: pymongo in c:\users\cbe\appdata\local\programs\python\python310\lib\site-packages (4.8.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\cbe\appdata\local\programs\python\python310\lib\site-packages (from pymongo) (2.6.1)

In [21]:
from pymongo import MongoClient
def get_database(dbname : str ):
 
   # Provide the mongodb atlas url to connect python to mongodb using pymongo
    CONNECTION_STRING = "mongodb+srv://BilelBhr:bilel1234@cluster0.pulcgzf.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
 
   # Create a connection using MongoClient. You can import MongoClient or use pymongo.MongoClient
    client = MongoClient(CONNECTION_STRING)
 
   # Create the database for our example (we will use the same database throughout the tutorial
    return client[dbname]

In [22]:
def drop_database(db_name):
    # Provide the MongoDB Atlas URL to connect Python to MongoDB using PyMongo
    CONNECTION_STRING = "mongodb+srv://BilelBhr:bilel1234@cluster0.pulcgzf.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
    
    # Create a connection using MongoClient. You can import MongoClient or use pymongo.MongoClient
    client = MongoClient(CONNECTION_STRING)
    
    # Drop the specified database
    client.drop_database(db_name)
    print(f"Database {db_name} dropped.")

In [36]:
drop_database("Proteins_DB")
db = get_database("Proteins_DB")
collection = db["Sequences"]

Database Proteins_DB dropped.

In [37]:
import pandas as pd 


df = pd.read_csv("protein_seq.csv")

df.tail()

,protein Names,Cell target,RNA sequence,Paper research Link
11,Concanavalin A-like lectin/glucanase,NaN,MTPQIPLLTTILSTLLLSLSLSLPTLAHTTPSPLTPRCTNALRNPG...,NaN
12,Death-associated protein kinase related,NaN,MQPPRQSTKRGLLIESNSGITDQQLNELIHQTEQITDHYDLDKDYF...,NaN
13,Rhodopsin domain-containing protein,NaN,MASNDVDEVTFVALLWVCLAISLFFVLTRLSFQYYLNRQLMIADIL...,NaN
14,Helicase ARIP4,NaN,MRKNIRKLLKENQLEAGTKAAQQEEMDRRKRLEQQRKDFPTAASTV...,NaN
15,RAD54 like 2,NaN,MSEEAISESDLEPSLNSEEEYSENEEEEDNEDMEEDEDENDGDDEE...,NaN

In [38]:
df.columns

Index(['protein Names ', 'Cell target ', 'RNA sequence',
       'Paper research Link'],
      dtype='object')

In [39]:
# Strip trailing and leading spaces from column names
df.columns = df.columns.str.strip()

In [40]:
liste_of_items = []
_id = 0
for i in range(len(df)):
    item = {}
    item["_id"] = _id
    item["Protein_Name"] = df["protein Names"].iloc[i]
    item["Cell_Target"] = df["Cell target"].iloc[i]
    item["RNA_Sequence"] = df["RNA sequence"].iloc[i]
    item["Source"] = df["Paper research Link"].iloc[i]
    liste_of_items.append(item)
    _id += 1

In [41]:
df = pd.DataFrame(liste_of_items)
df.tail()

,_id,Protein_Name,Cell_Target,RNA_Sequence,Source
11,11,Concanavalin A-like lectin/glucanase,NaN,MTPQIPLLTTILSTLLLSLSLSLPTLAHTTPSPLTPRCTNALRNPG...,NaN
12,12,Death-associated protein kinase related,NaN,MQPPRQSTKRGLLIESNSGITDQQLNELIHQTEQITDHYDLDKDYF...,NaN
13,13,Rhodopsin domain-containing protein,NaN,MASNDVDEVTFVALLWVCLAISLFFVLTRLSFQYYLNRQLMIADIL...,NaN
14,14,Helicase ARIP4,NaN,MRKNIRKLLKENQLEAGTKAAQQEEMDRRKRLEQQRKDFPTAASTV...,NaN
15,15,RAD54 like 2,NaN,MSEEAISESDLEPSLNSEEEYSENEEEEDNEDMEEDEDENDGDDEE...,NaN

In [29]:
for elt in liste_of_items:
    
    if(not db.Sequences.find_one(elt)):
        
        collection.insert_one(elt)
        
    else:
        
        continue

In [42]:
collection.insert_many(liste_of_items)

InsertManyResult([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], acknowledged=True)

In [43]:
index_name = db.Sequences.create_index( { "RNA_Sequence": "text"} )

In [44]:
print(f"Created index: {index_name}")

Created index: RNA_Sequence_text

In [57]:
# Full text search 
from pprint import pprint

search_results = db.Sequences.find({ "$text": { "$search": """MQPPRQSTKRGLLIESNSGITDQQLNELIHQTEQITDHYDLDKDYFARGKFAHVRRIKHK

"""} },{ "score": { "$meta" : "textScore" } }).sort({ "score": { "$meta": "textScore" } }).limit(3)

count_results = db.Sequences.count_documents({ "$text": { "$search": """MQPPRQSTKRGLLIESNSGITDQQLNELIHQTEQITDHYDLDKDYFARGKFAHVRRIKHK
KTGLHYAAKTIKKRRLRVGDVTDEIKHEIRVLISSENCPYIVKLQEVYETKTDFTLVLEL
AEGGELQQILDEHDTIDEYQCQKLIREIIVGIDFLHRKRIAHLDIKPQNILLKKSLLEGG
HVKLCDFGISRLIENDFEIREIMGTTDYMPPEILQYDPITTAADMWSIGIVTYVLLSGHS
PFGDDDKVQTYSNITSSDLEFPENIFDRVSEQAKDFIRKLLVRDPKKRMNCEECLEHEWL
"""} })

print(count_results)

for txt in search_results:
    print(txt)

1
{'_id': 12, 'Protein_Name': 'Death-associated protein kinase related', 'Cell_Target': nan, 'RNA_Sequence': 'MQPPRQSTKRGLLIESNSGITDQQLNELIHQTEQITDHYDLDKDYFARGKFAHVRRIKHK\nKTGLHYAAKTIKKRRLRVGDVTDEIKHEIRVLISSENCPYIVKLQEVYETKTDFTLVLEL\nAEGGELQQILDEHDTIDEYQCQKLIREIIVGIDFLHRKRIAHLDIKPQNILLKKSLLEGG\nHVKLCDFGISRLIENDFEIREIMGTTDYMPPEILQYDPITTAADMWSIGIVTYVLLSGHS\nPFGDDDKVQTYSNITSSDLEFPENIFDRVSEQAKDFIRKLLVRDPKKRMNCEECLEHEWL\nMIDKIPSEIKSSISNEKEDYISLTSDFDADDEEKNIDSDSDEAKSNIIMTSSSSSSSSSS\nSSSSMTFSSLDDISSSYDCCDSSGNNAESEEKIIENNDRDELFDNAKCCDSGLEDQICDS\nLKQIKSDPSRLFSLENQQNLQNETKSFVPIEIISTFDENKENHQEPMEVKKDQNQKSSES\nCNRCSNNLHNIISNKHHKRLSSDILPDRKLVAFVSQSLLSTKKFTSECSMSPNDDDVKLF\nDATQSFTNDHRSTKAFEITSVPGLVIENGSDSNTMRMQYNDNSPPSTPNKKFYLSVDDYD\nFCFGDYLKSSLSSSLIRTENERQTRRIRSVSMELLNRDFSGQQTTTTSAVSHPSFANDQY\nHQSLGSFSSSYNSHSTIPLATIETITTSETIFEKSSDVFQTNPTRISSTTTTHFVRASPT\nSSSTLTVIDDKSDCRLEVVNNDQNGNVSATFQIKLNPVKT', 'Source': nan, 'score': 0.5384615384615384}